@import "@/app/styles/mixins";

.scoreboardTitle {
  margin-bottom: varSize(20);
  font-size: varSize(37);
}

.scoreboardItem {
  display: flex;
  justify-content: space-between;
  width: varSize(265);
  margin-bottom: varSize(5);
  font-family: monospace;
  font-size: varSize(22);
}
